.box{
   border: 3px solid black;
   background-color:#a0a8a4
}
.container{
    display:flex;
    align-items:center;
    justify-content:center;
    color: black;
}
h1{
    display:flex;
    align-items:center;
    justify-content:center;
}
#result{
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    border: 2px dotted black;
    color:white;
    background-color:black
}